.cell{
	width: 100px;
	height: 100px;
	border: 2px solid;
	text-align: center;
	font-size: 50px;
		
}

#id_main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#id_game_header{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

#id_game_title{
	font-size: 40px;
}

#id_game_title h1{
	margin: 0;
	font-size: 60px;
	font-weight: bold;
	line-height: 1;
}

#id_score{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}

#id_score h3{
	margin: 0;
	font-size: 22px;
	white-space: nowrap;
}