body{
	font-family: 'Inter', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.cell{
	width: 100px;
	height: 100px;
	border: 3px solid;
	text-align: center;
	font-size: 45px;
	
	transition: background-color 0.3s ease, transform 0.2s ease-in-out;
		
}

.buttons{
	font-size: 30px;
	background-color: #F7F2C5;
	text-align: center;
	font-weight: bold;
	
	flex: 1;
	cursor: pointer;
	transition: background 0.2s, transform 0.1s;
}
.buttons:hover {
    background-color: #FBC02D;
}
.buttons:active {
    transform: scale(0.80);
}

#id_div_buttons{
	display: flex;
	justify-content: center;
	gap: 15px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#id_main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background-color: lightyellow;
	width: 500px;
}

#id_game_header{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 420px;
	
    margin-bottom: 5px;
	margin-top: 5px;
}

#id_game_title{
	font-size: 40px;
}

#id_game_title h1{
	margin: 0;
	font-size: 60px;
	font-weight: bold;
	line-height: 1;
}

#id_score{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}

#id_score h3{
	margin: 0;
	font-size: 22px;
	white-space: nowrap;
}

#id_game_footer{
	background-color: #F2E8A0;
	font-size: 0.95rem;
	border: 15px solid lightyellow;
	border-bottom: 10px solid lightyellow;
}

#id_game_footer h3{
	text-align: center;
	margin-bottom: 0;
}

#id_game_footer p{
	text-align: justify;
	margin-top: 0;
	padding-left: 10px;
	padding-right: 10px;
}